{
    "presets": [["env",{
        "targets": {
            "browsers": [
                "Chrome >= 52",
                "Firefox >= 44",
                "Safari >= 7",
                "Explorer 11",
                "last 4 Edge versions"
            ]
        },
        "useBuiltins": true
    }],"react","es2015"],
    "plugins": [
        "transform-class-properties"
    ]
}