@import url('../../../client.css');

.margin-top-10 {
    margin-top: 10px;
}

#login-panel {
	background-color: #f5f5f5  !important;
}

#login-panel-dark {
    background-color: #36393f  !important;
    color: white;
}

.panel-heading {
    height: 110px;
}

.warning-text {
    color: #a94442;
}