.calendar-panel {
	border-color: #f0ad4e !important;
}

.calendar-panel-heading {
	background-color: #f0ad4e !important;
	border-color:  #f0ad4e !important;
}

.calendar-panel-heading > div > div {
	color: white;
}

.calendar-display {
	background-color: #e09325;
	width: 5vw;
	height: 5vw;
	max-height: 64px;
	max-width: 64px;
	border: 3px solid white;
	border-radius: 5px;
    position: relative;
    right: 5%;
}

.month-display {
	border-bottom: 2px solid white;
}

.date-display {
	margin-top: 10%;
    position: relative;
	font-size: 150%;;
}

.date {
	font-size: 35px;
}

.calendar-panel .panel-body > a {
    color: #f0ad4e;
}