@import url('../../../client.css');

.weather-icon {
	filter: invert(100%);
}

.degree {
	font-size: 35px;
}

.no-left-padding {
	padding-left: 0px !important;
}

.padding-right-5 {
	padding-right: 5px;
}

.desc {
	white-space: nowrap;
}