.weather-icon {
    filter: invert(100%);
    max-height: 123px;
}

.degree {
	font-size: 35px;
}

.desc {
	white-space: nowrap;
}

.weather-panel {
    border-color: #337ab7 !important;
}

.weather-panel-heading >  h1 {
    color: white;
    font-size: 25px;
}

.weather-panel-heading >  h1 {
    color: white;
    font-size: 25px;
}

.weather-panel-heading > div > div {
	color: white;
}

.weather-panel-heading {
    background-color: #337ab7 !important;
    border-color:  #337ab7 !important;
}

.weather-panel .panel-body > a {
    color: #337ab7;
}