.fluid {
	padding: 0px 0px 0px 0px !important;
}

.body-dark {
	background-color: #18191c
}

.padding-right-5 {
	padding-right: 5px;
}

.no-left-padding {
	padding-left: 0px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.top-3 {
	top: 3px;
}